
.legal-label {
	color: #999999;
	font-family: 'SkyTextRegular', 'sky-text-regular', 'nowtv-regular';
	font-size: 10px;
	height: 15px;
    margin: 0 auto;
	margin-top: 3px;
	right: 0;
	position: absolute;
    text-align: center;
	bottom: 0px;
    width: 65px;
    z-index: 401;
}
#legal {
	position: absolute;
	z-index: 401;
	top: 90px;
	width: 100%;
	height: auto;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,1);
	overflow: auto;
}

#legal .legal-copy {
	color: #999999;
	font-family: 'SkyTextRegular', 'sky-text-regular', 'nowtv-regular';
	font-size: 10px;
	margin: 0;
	padding: 5px 20px 5px 5px;
	top:1px;
	word-wrap: break-word;
	border: 1px solid #999999;
}

#legal .legal-copy strong {
	font-family: 'SkyTextMedium', 'sky-text-medium', 'nowtv-medium';
}

#close-button {
	position: absolute;
	top: 2px;
	right: 2px;
	background-color: transparent;
	font-family: 'SkyTextRegular', 'sky-text-regular' , 'nowtv-regular';
	width: 17px;
	height: 16px;
	padding-top: 1px;
	padding-bottom: 2px;
	padding-left: 1px;
	padding-right: 1px;
	background-color: rgb(0,0,0);
	border-radius: 50%;
	color:rgb(255,255,255);
	text-align: center;
	z-index: 402;
	cursor:pointer;
}
