@font-face {
  font-family: Kontrapunkt;
  src: url(../fonts/Kontrapunkt.light.ttf);
}

@font-face {
  font-family: Kontrapunkt-Bold;
  src: url(../fonts/Kontrapunkt.bold.ttf);
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Kontrapunkt;
  color: black;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  align-items: stretch;
}

aside {
  width: 250px;
  text-align: left;
}

.aside-logo {
  width: 170px;
  height: auto;
  margin: 40px;
  cursor: pointer;
}

nav {
  padding: 0;
  margin: 0 40px;
  font-size: 0.9rem;
}

#about-me {
  display: block;
  text-decoration: none;
  font-family: Kontrapunkt-Bold;
  margin-bottom: 2em;
}

.nav-section-header {
  display: block;
  text-decoration: none;
  font-family: Kontrapunkt-Bold;
  margin-bottom: 0.5em;
}

.project-ul {
  list-style-type: none;
  margin-bottom: 2em;
}

.project-ul a {
  display: block;
  text-decoration: none;
  margin-bottom: 0.5em;
}

.cv {
  margin-bottom: 1rem;
}

.cv button {
  cursor: pointer;
  border-radius: 3px;
  color: white;
  background-color: #aaa;
  padding: 5px 6px 4px 6px;
  font-family: Kontrapunkt-Bold;
  text-decoration: none;
  border: 0;
}

.social-media-icon {
  width: 1rem;
  margin: 0.2rem;
}

#thumbnail-page {
  flex-grow: 1;
  margin: 1rem 1rem 1rem 0;
}

#thumbnail-page ul {
  list-style-type: none;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 250px;
  justify-content: start;
}

#thumbnail-page ul .Rollover {
  position: absolute;
  width: 300px;
  height: 250px;
  text-align: center;
  color: white;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  justify-content: center;
}

#thumbnail-page ul .Rollover:hover {
  opacity: 1;
  cursor: pointer;
}

#thumbnail-page ul img {
  width: 300px;
  height: 250px;
}

.section {
  margin: 0;
  margin-bottom: 2rem;
}

.section-header {
  width: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }
  aside {
    width: 100%;
    text-align: center;
  }
  .Aside-logo {
    margin: 35px auto;
  }

  nav {
    margin: 0 35px 35px 35px;
  }
  .project-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-ul a {
    margin: 0 0.8rem 0.5em 0;
  }

  #thumbnail-page {
    padding-bottom: 1rem;
    margin: 0rem 1rem 0rem 1rem;
  }
  #thumbnail-page ul {
    justify-content: center;
  }

  .nav-section-header {
    margin-bottom: 0.5em;
  }
  .section-header {
    text-align: center;
  }
}
